.square {
    width: 100px;
    height: 100px;
    background-color: #73dab2;
}

.flex {
    margin: 10px;
}

/* Flexbox 1 Exercise Styles*/

.flexOne {
    display: flex;
    flex-direction: row;
}

.flexOne > .square {
    margin: 5px;
}

/* Flexbox 2 Exercise Styles*/

.flexTwo {
    display: flex;
    flex-direction: column;
}

.flexTwo > .square {
    margin: 2px;
}

/* Flexbox 3 Exercise Styles*/

.flexThree {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;  /*No lo pedía el ejercicio por eso lo comento, pero en la foto se ve en el lado izquierdo */
}

.flexThree > .square {
    margin: 2px;
}

/* Flexbox 4 Exercise Styles*/

.flexFour {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
}

.flexFour  > .square  {
    background-color: #3d8b6d;
    margin: 5px;   
}
