.square {
    width: 100px;
    height: 100px;
    background-color: #73dab2;
}

.flex {
    margin: 10px;
}

/* Flexbox 1 Exercise Styles*/

.flexOne {
    display: flex;
    flex-direction: row;
}

.flexOne > .square {
    margin: 5px;
}

/* Flexbox 2 Exercise Styles*/

.flexTwo {
    display: flex;
    flex-direction: column;
}

.flexTwo > .square {
    margin: 2px;
}